*.pyc
node_modules/

bower_components/
ci_dashboard/static/
celerybeat-schedule
.tox/
secrets.yml
/settings.yaml
.coverage
.idea/

# Packages
*.egg
*.egg-info
dist
build


# Doscs
docs/*
!conf.py
!docs/*.rst
