include LICENSE
include README.rst
include bower.json
include .bowerrc
include package.json
include gulpfile.js
recursive-include ci_dashboard *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py, *.scss
recursive-include ci_system *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py, *.scss
recursive-include ci_checks *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py, *.scss
