Source: python-django-ci-status
Maintainer: Aliaksandr Buhayeu <abuhayeu@mirantis.com>
Section: python
Priority: optional
Build-Depends: ca-certificates,
               git,
               nodejs,
               nodejs-legacy,
               npm,
               python-all (>= 2.6.6-3),
               debhelper (>= 7),
               python-setuptools (>= 0.6b3)
Standards-Version: 3.9.1

Package: python-django-ci-status
Architecture: all
Depends: python-amqp,
         python-celery,
         python-django,
         python-django-auth-ldap,
         python-django-south,
         python-jenkins,
         python-jsonschema,
         python-ldap,
         python-mysqldb,
         ${misc:Depends},
         ${python:Depends}
Description: Web application for CI system health and status tracking.
 ==================================
 Python Django CI Status Dashboard
 ==================================
 .
 Web application for CI system health and status tracking.
 .
