Source: python-django-ci-status
Maintainer: Alexander Charykov <acharykov@mirantis.com>
Section: python
Priority: optional
Build-Depends: ca-certificates,
               git,
               nodejs,
               nodejs-legacy,
               npm,
               python-all (>= 2.6.6-3),
               debhelper (>= 7),
               python-setuptools (>= 0.6b3)
Standards-Version: 3.9.1

Package: python-django-ci-status
Architecture: all
Depends: python-amqp,
         python-celery,
         python-celery-common,
         python-django,
         python-django-auth-ldap,
         python-django-south,
         python-jenkins,
         python-jsonschema,
         python-ldap,
         python-mysqldb,
         ${misc:Depends},
         ${python:Depends}
Description: Web application for CI system health and status tracking.
 ==================================
 Python Django CI Status Dashboard
 ==================================
 .
 Web application for CI system health and status tracking.
 .

Package: python-django-ci-status-uwsgi-nginx
Section: extra
Priority: optional
Architecture: all
Depends: nginx, nginx-full, python-django-ci-status, uwsgi, uwsgi-plugin-python, ca-certificates
Description: CI-status uwsgi+nginx configuration
 ==================================
 Python Django CI Status Dashboard
 ==================================
 .
 Web application for CI system health and status tracking.
