<div class="modal fade" id="configExampleModal" tabindex="-1" role="dialog" aria-labelledby="#configExampleModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="configExampleModal">Import file example</h4>
      </div>
      <div class="modal-body">
        <pre><code>
dashboards:
  products:
    - version: master
      sections:
        - title: Master Product
          key: mcb
    - version: '9.0'
      sections:
        - title: Product 9.0
          key: 90cb
        - title: Tempo 9.0
          key: 90tp

  ci_systems:
    - title: Public packaging CI
      key: ppci
    - title: Fuel CI
      key: fci

sources:
  jenkins:
    - url: https://product-ci.infra.test/
      query:
        jobs:
          - names:
              - '9.0.all'
              - '9.0.test_all'
            filter:
              triggered_by: Any
            dashboards:
              - ppci
              - 90cb
              - mcb
          - names:
              - '9.0.swarm.timer.stable'
            filter:
              triggered_by: Any
            dashboards:
              - ppci
              - mcb
        views:
          - names:
              - '10.0'
            filter:
              triggered_by: Any
            dashboards:
              - ppci
              - mcb
    - url: https://ci.fuel.test/
      query:
        jobs:
          - names:
              - fuellib_noop_tests
              - master.fuel-library.pkgs.ubuntu.neutron_vlan_ha
            filter:
              triggered_by: Any
            dashboards:
              - fci
              - 90cb
          - names:
              - master.fuel-web.pkgs.ubuntu.review_fuel_web_deploy
            filter:
              triggered_by: Any
            dashboards:
              - fci
              - mcb
        views:
          - names:
              - docs
            filter:
              triggered_by: Any
            dashboards:
              - fci
              - mcb
              - 90tp
        </code></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
