{% load helpers %}

<div class="product-card separate-card">
  {% if ci.latest_status %}
    <div class="circle-icon {{ ci.latest_status|status_color }}">
      <span data-toggle="tooltip" data-placement="right" title="Rules Total: {{ ci.latest_status.rule_checks|length }} / Failed: {{ ci.latest_status.failed_rule_checks|length }}">{{ ci.latest_status.status_text }}</span>
    </div>
    <div class="product-info">
      <h4><a href="{{ ci.url }}" target="_blank">{{ ci.name }}</a></h4>
      <p>{{ ci.latest_status.last_changed_at|timesince }}</p>
      {% if ci.latest_status.is_manual %}
        <p>(assigned by: {{ ci.latest_status.author_username }})</p>
      {% else %}
        <br>
      {% endif %}
      <hr>
      <p>{{ ci.latest_status.summary }}</p>
      <a href="{% url 'status_detail' ci.latest_status.pk %}" class="btn btn-default btn-block">
        Details
      </a>
      <a href="#" data-tab="panel{{ number }}v" class="ci-card-link btn btn-default btn-block">
        Statuses History
      </a>
      {% if user.is_authenticated and user.is_active and user|can_manage_statuses %}
        <a href="{% url 'status_new' ci.pk %}" class="btn btn-info btn-block">
          Set New Status
        </a>
      {% endif %}
    </div>
  {% else %}
    <div class="product-info">
      <p>
      <a href="{{ ci.url }}" target="_blank">{{ ci.name }}</a>
      </p>
      <hr>
      <p>Not analyzed yet.</p>
    </div>
  {% endif %}
</div>

