{% load helpers %}

<div class="product-card">
  <div class="product-info">
    <h3>
      <a href="#version-{{ version_code }}">{{ pci.name }}</a>
     <span class="label label-{{ pci|current_status_by_version:version_name|status_color }}">
       {{ pci|current_status_by_version:version_name|status_text_for_type }}
     </span>
    </h3>

    <h4><small>{{ pci|active_status_time:version_name }}</small></h4>
  </div>

  <a href="#show-more-{{ pci.pk }}-{{version_code}}" class="btn btn-default btn-block" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="show-more-{{ pci.pk }}-{{version_code}}">Click To Show Details</a>
  <div class="collapse" id="show-more-{{ pci.pk }}-{{version_code}}">
    <ul class="list-group jobs-list">
      {% for rule_check in pci|latest_rule_checks_by_version:version_name|sorted_by_rule_name %}
      <li class="list-group-item">
        <a class="job-link" href="{{ rule_check.link_to_ci }}" target="_blank">
          <small>
            {{ rule_check.rule.rule_type_text }} <em>{{ rule_check.rule.name }} #{{ rule_check.build_number }}</em>
          </small>
        </a>
        <span class="label label-{{rule_check.status_type|status_color }} {% if rule_check.running %}blink{%endif%}">
          {{ rule_check.status_text }}
        </span>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
