Source: python-django-ci-status
Maintainer: Aliaksandr Buhayeu <abuhayeu@mirantis.com>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 7),
               nodejs (>= 0.10.24),
               git (>= 2.1.4),
# ca-certificates is required for build only as we fetch
# bower components for ui remotly over https
               ca-certificates
# we are using nodejs which already contains npm binary and doesn't require nodejs-legacy package
#              nodejs-legacy (>=0.10.24),
#              npm (>= 0.10.24)
Standards-Version: 3.9.1


Package: python-django-ci-status
Architecture: all
Depends: python-django,
         python-jenkins,
         python-django-south,
         python-ldap,
         python-django-auth-ldap,
         python-mysqldb,
         python-amqp,
         python-celery,
         python-jsonschema,
         ${misc:Depends},
         ${python:Depends}
Description: Web application for CI system health and status tracking.
 ==================================
 Python Django CI Status Dashboard
 ==================================
 .
 Web application for CI system health and status tracking.
 .
